@import '~assets/styles/variables';
@import '~assets/styles/include-media';
.light-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include media('<=tablet') {
        gap: 1rem;
    }
    @include media('<=600px') {
        grid-template-columns: 1fr;
    }
    .account-email {
        margin-bottom: 1rem;
    }
    .questions-responses {
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: 1rem;
        font-size: 0.75rem;
        .divider {
            width: 1px;
            background: rgba($dark, 0.64);
        }
        .questions {
            color: $dark;
        }
        .questions .question,
        .responses .response {
            margin-bottom: 0.3rem;
        }
    }
    .landmarks-container {
        margin-top: 1rem;
    }
    .status-container {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
        color: $success-green;
        >* {
            cursor: pointer;
        }
        .active {
            color: $accent-1;
            cursor: inherit;
        }
        .remove-button {
            color: $danger-red;
        }
    }
}