@import '~assets/styles/variables';
@import '~assets/styles/blur';
.cart-item {
    background: white;
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba($dark, 0.15);
    border-radius: 5px;
    .image-container .image {
        height: 100%;
        width: 100%;
        background-image: url('/images/product-wine-example.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .content {
        .name {
            font-size: 0.9rem;
        }
        .year {
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }
        .price {
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .brief {
            margin-bottom: 0.8rem;
        }
        .actions-container {
            .quantity-input {
                height: 20px;
                border-radius: 5px;
                border: 1px solid $dark;
                width: 4rem;
                font-size: 0.75rem;
                box-shadow: 0px 2px 10px rgba($dark, 0.15);
                background: white;
            }
            %deep-button {
                border: none;
                border-radius: 5px;
                padding: 0.2rem 0.5rem;
                background: $dark;
                color: white;
                font-size: 0.8rem;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
                .icon {
                    margin-right: 0.2rem;
                }
            }
            .exclude-button {
                @extend %deep-button;
                background: $brown;
            }
            .include-button {
                @extend %deep-button;
                background: $success-green;
            }
            .remove-button {
                @extend %deep-button;
                background: $danger-red-2;
            }
        }
    }
}

.cart-item.not-active {
    .content>*,
    .quantity-input {
        @include blur-mixin(0.7px);
    }
    .actions-container {
        @include blur-mixin(0px);
    }
}