@import '~assets/styles/variables';
@import '~assets/styles/include-media';
#sidebar {
    box-shadow: 0px 4px 10px rgba($dark, 0.15);
    border-radius: 5px;
    background: white;
    font-size: 0.8rem;
    width: 17rem;
    @include media('<=desktop') {
        width: 15rem;
    }
    @include media('<=tablet') {
        position: fixed;
        top: calc(#{$navbar-height} + 0.5rem);
        right: 1rem;
        box-shadow: 0px 2px 14px 7px rgba($dark, 0.12);
    }
    .list-icon {
        display: none;
        cursor: pointer;
    }
    .navs {
        .nav {
            text-transform: uppercase;
            display: grid;
            grid-template-columns: 1.5rem 1fr;
            align-items: center;
            border-bottom: 1px solid rgba($dark, 0.3);
            height: $sidebar-nav-element-height;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            cursor: pointer;
            &:hover,
            &.active {
                color: $accent-1;
                background: rgba($accent-3, 0.15);
            }
            &.logout,
            &.logout:hover {
                color: $danger-red;
            }
        }
    }
    //Collapsed
    &.collapsed {
        @include media('<=tablet') {
            display: inline-block;
            width: unset;
            --size: 3rem;
            border-radius: 50%;
            color: $accent-1;
            font-size: 0.9rem;
            .navs {
                display: none;
            }
            .list-icon {
                display: inline-block;
                height: var(--size);
                width: var(--size);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}