//Colors
$accent-1: #bf4bb7;
$accent-2: #c684d9;
$accent-3: #dfb3f2;
$dark: #1f3140;
$back-color: #f2f2f2;
//Default sizes
$navbar-height: 60px;
$navbar-tablet-width: 200px;
$navbar-tablet-link-height: 45px;