//Colors
$accent-1: #bf4bb7;
$accent-2: #c684d9;
$accent-3: #dfb3f2;
$dark: #1f3040;
$back-color: #f2f2f2;
$neutral-grey: #c4c4c4;
$neutral-grey-2: #d4d4d4;
$danger-red: #920A0A;
$success-green: #4F7336;
//Default sizes
$navbar-height: 60px;
$products-mini-navbar-height: 40px;
$navbar-tablet-width: 200px;
$navbar-tablet-link-height: 45px;
$sidebar-nav-element-height: 45px;