//Colors
$accent-1: #bf4bb7 !default;
$accent-2: #c684d9 !default;
$accent-3: #dfb3f2 !default;
$dark: #1f3040 !default;
$back-color: #f2f2f2 !default;
$neutral-grey: #c4c4c4 !default;
$neutral-grey-2: #d4d4d4 !default;
$danger-red: #920A0A !default;
$danger-red-2: #F24A47 !default;
$success-green: #4F7336 !default;
$brown: #594747 !default;
$callout-color: #5B4BBF !default;
$black: #000000 !default;
//Default sizes
$navbar-height: 60px;
$products-mini-navbar-height: 40px;
$navbar-tablet-width: 200px;
$navbar-tablet-link-height: 45px;
$sidebar-nav-element-height: 45px;