@import '~assets/styles/include-media';
@import '~assets/styles/variables';
#home-page {
    background: white;
    position: relative;
}

#hero {
    height: calc(var(--viewport-height) - #{$navbar-height});
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    .hero-text {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 4.5rem;
        text-align: center;
        white-space: initial;
        @include media('<=desktop') {
            font-size: 3.5rem;
        }
        @include media ('<=tablet') {
            font-size: 3rem;
        }
        @include media ('<=700px') {
            font-size: 2.5rem;
        }
        @include media ('<=425px') {
            font-size: 2rem;
        }
        @include media ('<=375px') {
            font-size: 1.5rem;
        }
        >*:nth-child(2) {
            font-weight: 500;
        }
    }
    .hero-wine-splash-image-container {
        position: absolute;
        width: 100vw;
        overflow-x: hidden;
        bottom: -15rem;
        --left: 1.5rem;
        --factor: 2;
        .hero-wine-splash-image {
            width: calc(100vw + calc(var(--left) * var(--factor)));
            // opacity: 0.9;
        }
        @include media('<=desktop') {
            bottom: -12rem;
        }
        @include media ('<=tablet') {
            bottom: -10rem;
            --factor: 10;
        }
        @include media ('<=700px') {
            --factor: 15;
        }
        @include media ('<=500px') {
            --left: 3rem;
            --factor: 12;
        }
        @include media ('<=425px') {
            --factor: 15;
        }
    }
}

.first-set-section {
    height: var(--viewport-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    @include media('<=tablet') {
        gap: 2rem;
        padding: 1rem;
    }
    @include media('<=425px') {
        height: unset;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .right,
    .left {
        display: flex;
        align-items: center;
    }
    .right {
        // padding-right: 2rem;
        height: 100%;
        @include media('<=425px') {
            height: unset;
            margin-bottom: 2rem;
        }
        .header {
            font-size: 2.25rem;
            font-weight: 500;
            margin-bottom: 1rem;
            @include media('<=desktop') {
                font-size: 2rem;
            }
            @include media('<=tablet') {
                font-size: 1.5rem;
            }
        }
        .paragraph {
            margin-bottom: 2rem;
            @include media('<=tablet') {
                font-size: 0.8rem;
            }
        }
        .action-button {
            color: white;
            background: $dark;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem 0.5rem 1rem;
            @include media('<=tablet') {
                font-size: 0.8rem;
            }
        }
    }
    .left {
        // padding-left: 2rem;
        height: 100%;
        @include media('<=425px') {
            height: 20rem;
            width: 100%;
        }
        .image-container {
            height: 100%;
            width: 100%;
            padding: 1rem;
            display: flex;
            align-items: center;
            @include media('<=425px') {
                padding: 0;
            }
            .image {
                background-image: url('/images/section-1-home-image.jpg');
                height: 70%;
                width: 100%;
                background-size: cover;
                background-position: center center;
                border-radius: 10px;
                @include media('<=desktop') {
                    height: 50%;
                }
                @include media('<=425px') {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

#section-1 {
    margin-top: 8rem;
}

#section-2,
#section-3 {
    height: calc(var(--viewport-height) - 5rem);
    @include media('<=425px') {
        height: unset;
    }
}

#section-3 {
    background: radial-gradient(83.05% 313.58% at 11.2% 59.6%, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
    margin-bottom: 0;
}

.wines-section-home-page {
    height: calc(var(--viewport-height) - #{$navbar-height});
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 2rem;
    padding: 2rem;
    @include media('<=425px') {
        height: unset;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 1fr;
        padding: 1rem;
        gap: 2rem;
        margin-bottom: 4rem;
    }
    &.right {
        @include media('<=425px') {
            >* {
                order: 1 !important;
            }
        }
        .left {
            order: 2;
        }
        .right {
            order: 1;
        }
    }
    >* {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .left {
        .image-container {
            padding-right: 2rem;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            @include media('<=425px') {
                padding: 0;
            }
            .image {
                height: 70%;
                width: 100%;
                background-image: url('/images/white-wines.jpg');
                background-position: center center;
                background-size: cover;
                border-radius: 5px;
                background-repeat: no-repeat;
                @include media('<=425px') {
                    height: 100%;
                }
            }
        }
    }
    .right {
        flex-direction: column;
        justify-content: center;
        .right-content {
            padding-left: 1rem;
            padding-right: 1rem;
            @include media('<=425px') {
                padding: 0;
            }
            .header {
                font-weight: 500;
                margin-bottom: 0.51rem;
                text-shadow: 0px 4px 10px rgba(31, 48, 64, 0.5);
            }
            .paragraph {
                margin-bottom: 1.5rem;
                @include media('<=tablet') {
                    font-size: 0.9rem;
                }
            }
            .action-button {
                padding: 0.5rem 1rem 0.5rem 1rem;
                border-radius: 3px;
                color: white;
                background: $accent-1;
                border: none;
            }
        }
    }
}

#white-wine-section {
    .emphasis {
        color: white;
    }
}

#red-wine-section {
    .emphasis {
        color: #CD3A48;
        ;
    }
}

#rose-wine-section {
    .header {
        text-shadow: 0px 4px 10px rgba(103, 24, 52, 0.5);
        .emphasis {
            color: #fff;
        }
    }
}

#sparkling-wine-section {
    .header {
        text-shadow: 1px 1px 5px rgba(35, 13, 3, 0.8);
        .emphasis {
            color: #FDEDBF;
        }
    }
}