@import '~assets/styles/include-media';
@import '~assets/styles/variables';
#single-order-page {
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        .back-icon {
            margin-right: 0.6rem;
            cursor: pointer;
        }
        .mini-heading {
            margin-bottom: 0;
        }
    }
    .order-brief {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .copy-button {
            color: white;
            border: none;
            background: rgba($accent-1, 0.8);
            font-size: 0.75rem;
            padding: 0.2rem 0.5rem;
            margin-top: 1rem;
        }
    }
    .order-items-container {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @include media('<=tablet') {
            grid-template-columns: 1fr;
        }
    }
}